*{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

p {
    margin-top: 10%;
    color: #FFF;
    font-size: 2rem;
    text-align: center;
}

div .btn {
    margin: 30% 0 30% 0;
    background-color: var(--color-black);
    border: 3px solid gray;
    color: var(--color-black);
    text-align: center;
    font-weight: 450px;
    transition: .5s;
    font-size: 2rem;
    margin-bottom: 10%;
}

div .btn:hover {
    background: darkgray;
    color: var(--color-black);
}

.imagem1 {
    position: relative;
    margin-top: 7%;
    width: 40%;
    margin-bottom: 1%;
}
    
div h6 {
    font-size: 30px;
    color: #FFF;
    padding-top: 50px;
    text-align: center;
    word-spacing: 5px;
}

div h4 {
    font-size: 1.5rem;
    color: #FFF;
    padding-top: 5px;
    margin-bottom: 5%;
}

input {
    background-color: gray;
    text-align: center;
}

.container {
    text-align: center;
    display: inline;
    justify-content: center; 
}

.footer {
    text-decoration: none;
    color: gray;
    padding: 4%;   
}

.checkbox {
    display: block;
}